<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/assets/css.style.css}" rel="stylesheet" />
<head th:replace="fragment/cssJs :: head"></head>
<style>

.btn-custom{
	background-color: #016A13; 
	border-radius: 50px;
	box-shadow: 2px  2px  #016A13;

        }

</style>

<body>

	<!-- ======= NavBar ======= -->
	<header id="header" class="header fixed-top d-flex align-items-left">
			<nav class="header-nav ml-auto">
				<div class="d-flex flex-row bd-highlight mb-3 messages" >
					<div class="p-2 bd-highlight">*Logo*</div>
					<div class="p-2 bd-highlight message-item" >Merenda IFMS</div>
				</div>
			</nav>
			<nav class="header-nav ms-auto">
					<div class="bi bi-person-fill"></div>
			</nav>
	</header>
	<!-- ======= End NavBar ======= -->

	<!-- ======= Sidebar ======= -->
	<div th:insert="auth/admin/fragments/barraLateralFrag :: sideBar"></div>
	<!-- End Sidebar-->
	
	

	<main id="main" class="main">
	
	<div class="row">
			<div class="col-sm-5">
				<form th:action="@{/restricao/buscar}" method="post">
					<div class="input-group">
						<input type="text" class="form-control" name="nome"/>
						<input class="btn btn-primary" type="submit" value="Buscar"/> 
						<a th:href="@{/restricao/listar}" class="btn btn-danger" type="submit">Cancelar</a>
					</div>
				</form>
			</div>
		</div>
	
		<div class="container">
		
    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
            	<th></th>
                <th>Id</th>
                <th>Descricao</th>
                <th>Nome do Aluno</th>
                <th>Comprovante</th>
            </tr>
            </thead>
            
            <tbody>
            <tr th:if="${listaRestricoes.empty}">
            <td></td>
                <td colspan="5">Não existem restrições.</td>
            </tr>
            
            <tr th:each="restricao : ${listaRestricoes}">
            	<td></td>
                <td><span th:text="${restricao.id}"></span></td>
                <td><span th:text="${restricao.descricaoRestricao}"></span></td>
                <td><span th:text="${restricao.nomeAluno}"></span></td>
                
                <td>
	                <a th:href="@{/restricao/url/{id}(id=${restricao.id})}" target = "_blank">
		            	<button type="button" class="btn btn-success btn-custom">
		                	Ver mais
		            	</button>
		            </a>
            	</td>
            </tr>
                
            </tbody>
        </table>
    </div>
</div>
	  	
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<!--   <div th:insert="auth/footer/footerFrag :: footer"></div> -->
	<!-- ======= End Footer ======= -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<th:block th:insert="fragment/cssJs :: js" th:remove="tag"></th:block>
</body>
</html>
