<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/assets/css.style.css}" rel="stylesheet" />
<head th:replace="fragment/cssJs :: head"></head>

<body>

	<!-- ======= NavBar ======= -->
	<div th:insert="auth/admin/fragments/navbar-admin :: navBar"></div>
	<!-- ======= End NavBar ======= -->

	<!-- ======= Sidebar ======= -->
	<div th:insert="auth/admin/fragments/barraLateralFrag :: sideBar"></div>
	<!-- End Sidebar-->
	
	

	<main id="main" class="main">
			
		
			<div  th:insert="auth/admin/fragments/listagemFoto :: listaFoto"></div>
				
				  	
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<!--   <div th:insert="auth/footer/footerFrag :: footer"></div> -->
	<!-- ======= End Footer ======= -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<th:block th:insert="fragment/cssJs :: js" th:remove="tag"></th:block>
</body>
</html>
