<html lang="en" xmlns:th="http://www.thymeleaf.org">

<link th:href="@{/assets/css.style.css}" rel="stylesheet" />
<head th:replace="fragment/cssJs :: head"></head>

<style>

.estrela{
	color: black;
	font-size: 120% !important;
}

</style>

<body>

	<!-- ======= NavBar ======= -->
	<header id="header" class="header fixed-top d-flex align-items-left">
			<nav class="header-nav ml-auto">
				<div class="d-flex flex-row bd-highlight mb-3 messages" >
					<div class="p-2 bd-highlight">*Logo*</div>
					<div class="p-2 bd-highlight message-item" >Merenda IFMS</div>
				</div>
			</nav>
			<nav class="header-nav ms-auto">
					<div class="bi bi-person-fill"></div>
			</nav>
	</header>
	<!-- ======= End NavBar ======= -->

	<!-- ======= Sidebar ======= -->
	<div th:insert="auth/admin/fragments/barraLateralFrag :: sideBar"></div>
	<!-- End Sidebar-->
	
	

	<main id="main" class="main">
		<div class="container">
    <!-- <div class="row" style="padding-bottom: 30px;">
        <div class="col">
            <a th:href="@{/novo}" class="btn btn-primary">Novo Estudante</a>
        </div>
    </div> -->

    <div class="row">
        <table class="table table-striped">
            <thead>
            <tr>
            	<th></th>
                <th>Id</th>
                <th>Comentário</th>
                <th>Nome do Aluno</th>
                <th>Avaliação</th>
            </tr>
            </thead>
            <tbody>
            <tr th:if="${listaFeedbacks.empty}">
            	<td></td>
                <td colspan="6">Não existem feedbacks.</td>
            </tr>
            <tr th:each="feedback : ${listaFeedbacks}">
            	<td></td>
                <td><span th:text="${feedback.id}"></span></td>
                <td><span th:text="${feedback.descricaoFeedback}"></span></td>
                <td><span th:text="${feedback.nomeAluno}"></span></td>
                <td class = "estrela"><span th:text="${feedback.estrelas}"></span> ★</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
	  	
	</main>
	<!-- End #main -->

	<!-- ======= Footer ======= -->
	<!--   <div th:insert="auth/footer/footerFrag :: footer"></div> -->
	<!-- ======= End Footer ======= -->

	<a href="#"
		class="back-to-top d-flex align-items-center justify-content-center"><i
		class="bi bi-arrow-up-short"></i></a>

	<!-- Vendor JS Files -->
	<th:block th:insert="fragment/cssJs :: js" th:remove="tag"></th:block>
</body>
</html>
