<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Cadastro</title>

<link rel="stylesheet"
	th:href="@{/bootstrap-5.3.0-dist/css/bootstrap.min.css}">
<script th:src="@{/jquery-3.6.0-dist/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.min.js}"></script>
<link th:href="@{/assets/css.style.css}" rel="stylesheet" />
<head th:replace="fragment/cssJs :: head"></head>



<style>
.mensagem {
	color: red;
}
</style>
</head>
<body>

	<div class="container">
		<div class="row">
			<div class="col">
			<h2>Cadastro de Notícias</h2>
				<div class="alert alert-success alert-dismissible fade show"
					th:if="${mensagem}">
					<button type="button" class="btn-close" data-bs-dismiss="alert"></button>
					<span th:text="${mensagem}"></span>
				</div>
				<form action="#" th:action="@{/noticia/salvar}"
					th:object="${item}" method="post" enctype="multipart/form-data">
				<div class="formulario">
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Título:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{titulo}" placeholder="Insira o título da notícia">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('titulo')}"
								th:errors="*{titulo}"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Subtitulo :</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{subtitulo}" placeholder="Insira o subtítulo da notícia">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('subtitulo')}"
								th:errors="*{subtitulo}"></span>
						</div>
					</div>
						<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Corpo da notícia :</label>
						
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{corpo}" placeholder="Insira o corpo da notícia">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('corpo')}"
								th:errors="*{corpo}"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label class="col-sm-1 col-form-label">Autor:</label>
						<div class="col-sm-5">
							<input class="form-control" type="text" th:field="*{autor}" placeholder="Insira o nome do autor da notícia">
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('autor')}"
								th:errors="*{autor}"></span>
						</div>
					</div>
					<div class="row mb-3">
						<label class="form-label">Foto:</label>
						<div class="col-sm-5">
							<input name="fotos" type="file" accept="image/png, image/jpeg"
								class="form-control" id="foto" placeholder="Foto" multiple>
						</div>
						<div class="col-sm-5">
							<span class="mensagem" th:if="${#fields.hasErrors('fotos')}"
								th:errors="*{fotos}"></span>
						</div>
					</div>

					<input class="btn btn-primary" type="submit" value="Gravar" /> 
						<a class="btn btn-primary" href="/admin/index">Cancelar</a>
						
						</div>
				</form>
			</div>
		</div>
	</div>