<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link th:href="@{/assets/css.style.css}" rel="stylesheet" />

<body>

<table th:fragment="cardapio" class="table table-sm">	
	<thead>
	<tr> 
		<td>
		<a class="btn btn-primary" href="/cardapio/novoTipo">Tipo<i class="bi bi-plus"></i></a>
		<a class="btn btn-primary" href="/cardapio/novaCategoria">Categoria<i class="bi bi-plus"></i></a>
		<a class="btn btn-primary" href="/cardapio/novoItem">Item<i class="bi bi-plus"></i></a>
		</td>
	</tr>
	</thead>
	<tbody>
	
	</tbody>
</table>    
 </body>
</html>