<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <table th:fragment="lista" class="table table-sm">	
     <tbody class = "container-grid">

        <tr class = "empty" th:if="${noticias.empty}">
            <td  colspan="2"><i class="bi bi-slash-circle"></i></td>
        </tr>
        <tr class = "card"  th:each="noticia : ${noticias}">
        
        
        <th:block th:if="${noticia.fotos.empty }">
        <td> Sem Imagem </td>
        
        </th:block>
        <th:block th:unless="${noticia.fotos.empty}">
        <td> <td><img th:src="${noticia.fotos.get(0).url}" class="imagem"></td> </td>
        
        </th:block>
     
            <td><span th:text="${noticia.titulo}" class="titulo"> Título </span></td>
            <td><span th:text="${noticia.subtitulo}" class="subtitulo"> Subtítulo</span></td>
            <td><span th:text="${#strings.concat(#strings.substring(noticia.corpo,0,100), '...')}">Corpo</span></td>
            <td><span th:text="${noticia.autor}"> Autor: </span></td>
    
        </tr>
    </tbody>
</table>
    
</body>
</html>